.logoContainer{
  width:25%;
  height: 10%;
  background-image: url('./logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.forecasts {
  text-align: center;
  margin: 0 auto;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.input {
  background-color: skyblue;
  border-radius: 10%
}

.current {
  background-color: lightgrey;
  border-radius: 10%
}

.githublink {
  background-color: ghostwhite;
  position: fixed;
  width: 20%;
  left: 0;
  bottom: 5%;
}

.high {
  color: red;
}

.low {
  color: blue;
}
